body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 188, 187);
}

#progression-bar{
    width: 90%;
    height: 1rem;
    margin-top: 0.5rem;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#progression-bar > div {
    flex: 1;
    margin: 0;
    height: 100%;
    background-color: grey;
    border-right: solid black;
}


#quiz{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 400px;
}

button{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
}

/* Bruker 0.3s på å endre bakgrunnsfargen til blå, og tekst fargen til hvit når du hovrer over knappen */
button:hover {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;  
}

.alternativ{
   margin: 5px;
   margin-top: 1rem;
}

.resultat{
    margin-top: 2rem;
}

#restart{
    margin-top: 2rem;
}
