body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

#logo_del {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-self: center;
    width: 100%;
    background-color: grey;

    padding-left: 2rem;
}

#tekst {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 2rem;
}

#nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
    border: grey solid 1px;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#innlogging {
   margin-left: auto;
   margin-right: 5rem;
   margin-top: 3rem;
}

#undermeny{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(114, 114, 114, 0.7), rgba(58, 58, 58, 0.9)), url("Bilder-hjemskjerm/bil_bakgrunn.jpg");
    /* background-image: url("Bilder-hjemskjerm/bil_bakgrunn.jpg"); */
    background-position-x: 50%, 50%;
    background-position-y: 50%, 50%;
    background-repeat: no-repeat;
    color: white;
    font-size: large;
    background-color: grey;
}

#nav2 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.meny {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.meny_bilder{
    height: 70px;
}