body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bilde{
    width: 400px;
}

#galleri{
    display: flex;
    align-items: center;
    gap: 1rem;
}



/* Kjeksklikker */
/* #knapp{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
} */

