head{
    display: flex;
    flex-direction: column;
}

#førere{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bildær{
    height: 200px;
}

.førerene{ 
    margin: 2rem; 
    background-color: lightgray;
    padding: 1rem;
}

h1{
    justify-self: center;
}